.back-title {
  font-size: 15px;
  color: #acacac;
  cursor: pointer;
}

.confirm-button-container {
  align-items: center;
  justify-content: center;
}

.background-image {
  height: 100%;
  width: 100%;
}

.logo {
  position: absolute;
  left: 30%;
  bottom: 25%;
}

.looking-col-container-right {
  background-color: white;
  height: 100%;
}

.btn-looking {
  border-radius: 20px;
  width: 250px;
  border-color: #767676;
  border-width: 2px;
  font-weight: 600;
  color: #767676;
}

.btn-looking:hover {
  background-color: #47c1dd;
  color: white;
  border-color: transparent;
}

.accent {
  background-color: #47c1dd;
  color: white;
  border-color: transparent;
}

.btn-looking:focus {
  background-color: #47c1dd;
  color: white;
  border-color: transparent;
}

.btn-looking.active.focus,
.btn-looking.focus {
  outline: 0 !important;
}

.large-text {
  font-size: 60px;
}

.title-style {
  font-size: 40px;
  color: #767676;
  font-weight: 400;
}

.subtitle-style {
  font-size: 20px;
  color: #767676;
}

.text-container {
  margin-top: 10%;
}

.btn-margin-top {
  margin-top: 10%;
}

.btn-margin {
  margin-bottom: 5%;
}
