.m-eventModal {
    .a-modal-content {
        width: 480px;
        padding: 30px 60px;
        height: auto;
	    .header {
            text-transform: uppercase;
            margin-bottom: 30px;
            h3 {
                font-size: 22px;
            }
            h4 {
                font-size: 22px;
            }
            p {
                text-transform: none;
            }
        }
        label {
            margin-bottom: 2px;
        }
        .form-group {
            width: 100%;
        }
        input[type="text"],
        textarea {
            background: #f6f6f6;
            border: none;
            padding: 10px 18px;
            width: 100%;
        }
        textarea {
            height: 115px;
        }
        img {
            width: 100%;
        }
    }
}