.m-search-venues {
    button {
        cursor: pointer;
        border: 1px solid transparent;
        &:hover {
            border-color: #aaa;
        }
    }
    &--body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        max-width: 1250px;
        height: 85vh;
    }
    &--nearby-venue {
        width: 60%;
        margin-right: 20px;
    }
    &--header {
        background: none;
        margin: 8px 30px;
        padding: 0;
        h4 {
            font-weight: 200;
        }
        &--filter-by {
            margin-top: 13px;
            margin-bottom: 13px;
            span {
                margin: 10px;
                display: inline-block;
                font-size: 17px;
            }
            button {
                font-size: 0.9rem;
                margin: 0 5px 0 5px;
                padding: 7px 25px 4px;
            }
        }
        &--filter-items {
            margin-top: 5px;
            margin-bottom: 35px;
            margin-left: 5px;
            button {
                width: auto;
                padding: 7px 20px 4px;
                margin: 0 7px 10px;
            }
        }
    }
    &--venue-lists {
        margin: 0px 0px 0 30px;
        width: auto;
        padding: 0;
        .venue-box {
            border-top: none;
            border-top: 1px solid #f3f3f3;
            padding: 20px 12px 30px;
            &:last-child {
                border-bottom: 1px solid #f3f3f3;
            }
        }
        .venue-img {
            position: relative;
            overflow: hidden;
            width: 112px;
            height: 112px;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
        .venue-info {
            width: 335px;
            color: #686868;
            p {
                color: #686868;
            }
            .venue-name {
                line-height: initial;
                font-size: 17px;
                margin-bottom: 0;
                a {
                    color: #3b3b3b;
                    font-weight: 200;
                    &:hover {
                        text-decoration: none;
                        color: #5d5bbc;
                    }
                }
            }
            .venue-type {
                margin-bottom: 0;
            }
            .venue-schedules {
                p {
                    margin-bottom: 0;
                }
            }
        }
        .services {
            margin-top: 5px;
            label {
                margin-right: 10px;
                margin-bottom: 0;
                line-height: 35px;
            }
            span {
                width: 35px;
                height: 35px;
                display: inline-block;
                background-color: #684cbd;
                border-radius: 100%;
                background-size: auto 20px;
                background-position: center;
                margin: 0 2px;
            }
            &--alcohol {
                background: url('./assets/icons/venue/services/white/alcohol.png') no-repeat;
            }
            &--drinks {
                background: url('./assets/icons/venue/services/white/drinks.png') no-repeat;
            }
            &--cocktails {
                background: url('./assets/icons/venue/services/white/cocktails.png') no-repeat;
            }
            &--breakfast {
                background: url('./assets/icons/venue/services/white/breakfast.png') no-repeat;
            }
            &--hotel {
                background: url('./assets/icons/venue/services/white/hotel.png') no-repeat;
            }
            &--lunch {
                background: url('./assets/icons/venue/services/white/lunch.png') no-repeat;
            }
            &--food {
                background: url('./assets/icons/venue/services/white/food.png') no-repeat;
            }
            &--pokies {
                background: url('./assets/icons/venue/services/white/pokies.png') no-repeat;
            }
            &--dinner {
                background: url('./assets/icons/venue/services/white/dinner.png') no-repeat;
            }
        }
        .venue-action {
            padding-top: 53px;
            font-size: 14px;
            text-align: center;
            width: 160px;
            .venue-address {
                .fa {
                    font-size: 18px;
                }
            }
            button {
                font-size: 15px;
                color: #684cbd;
                border-color: #684cbd;
                background-color: #fff;
                padding: 5px 20px 3px;
                &.btn-dark {
                    background-color: #684cbd;
                    color: #fff;
                    &:hover {
                        background-color: #333;
                    }
                }
                &:hover {
                    background-color: #222;
                    color: #fff;
                }
            }
        }
    }
    &--nearby-events {
        &--header {
            background: none;
            margin: 8px 20px;
            padding: 0;
            &--filter-items {}
        }
        .event-box {
            margin: 5px 0 5px 5px;
            .event-data {
                padding: 10px 12px;
                width: 380px;
            }
            .event-date {
                line-height: 1;
                width: 112px;
                padding: 1.5em 0;
                box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.4);
                text-align: center;
            }
            .event-img {
                width: 90px;
                height: 90px;
                float: left;
                margin-right: 10px;
                img {
                    width: 100%;
                }
            }
            .event-title {
                font-size: 14px;
                font-weight: 500;
                &:hover {
                    cursor:pointer;
                    color:#5d5bbc;
                }
            }
            .event-meta {
                .fa {
                    margin-right: 10px;
                }
            }
            .event-action {
                position: absolute;
                top: 4px;
                right: 10px;
                font-size: 12px;
                a {
                    color: #5bb7d6;
                }
            }
            .event-options {
                position: absolute;
                right: 40px;
                background: rgba(255, 255, 255, 0.95);
                border: 1px solid #ccc;
                border-radius: 4px;
                top: 4px;
                font-size: 13px;
                box-shadow: 0px 0px 5px 0 #ccc;
                &:after,
                &:before {
                    left: 100%;
                    top: 12px;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                }

                &:after {
                    border-color: rgba(255, 255, 255, 0);
                    border-left-color: #fff;
                    border-width: 10px;
                    margin-top: -10px;
                }
                &:before {
                    border-color: rgba(204, 204, 204, 0);
                    border-left-color: #ccc;
                    border-width: 11px;
                    margin-top: -11px;
                }
                ul {
                    padding: 5px 0;
                    margin: 0;
                    list-style: none;
                    li {
                        border-bottom: 1px solid #ccc;
                        &:last-child {
                            border: none;
                        }
                    }
                    a {

                        padding: 5px 10px;
                        display: block;
                        color: #3b3b3b;
                        &:hover {
                            text-decoration: none;
                            color: #5bb7d6;
                        }
                    }
                }
            }
        }
    }
}