.SignUpDownloadApp {

    .phones-top {}
    #phones-top-wrap {
        float: left;
        margin-right: 20px;
    }
    .buttons {
        img {
                height: 86px;
            float: left;
            padding: 10px;
        }
    }
}