.taskName {
  border: none;
}
.my-staff-ss-item {
  height: 4em;
  border: 0.3px solid rgb(226, 226, 226);
  margin: 1em;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
}

.my-staff-ss-item a {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #5d5bbc !important;
}

.icon-calendar {
  background: url("./img/calendar-icon.gif") no-repeat;
  height: 17px;
  width: 17px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}
.icon-breafcase {
  background: url("./img/breafcase-icon.gif") no-repeat;
  height: 17px;
  width: 17px;
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 10px;
}
.icon-time {
  background: url("./img/time-icon.gif") no-repeat;
  height: 17px;
  width: 17px;
  cursor: pointer;
  position: absolute;
  top: 60px;
  right: 10px;
}
