.nav {
  position: fixed;
  width: 100%;
  height: 7em;
  top: 0;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
  padding: 1.5em;
  padding-left: 3em;
  z-index: 3;
}

.nav-default {
  background-color: white;
}

.nav-header {
  display: flex;
  width: 100%;
}

.nav-brand {
  font-size: 2.1em;
  color: #acacac;
  flex-grow: 1;
  cursor: pointer;
}

.nav-brand:hover {
  text-decoration: none !important;
}

.nav-menu {
  flex-grow: 2;
  text-align: right;
  list-style-type: none;
}

.nav-menu a img {
  width: 30px;
  height: auto;
}

.nav-menu a {
  font-size: 1.1em;
  color: #acacac;
  text-decoration: none !important;
  cursor: pointer;
}

.nav-menu a:hover {
  color: #acacac;
  text-decoration: none !important;
}

.nav-menu li {
  display: inline-block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 40px;
  color: #acacac;
}

.nav-menu li {
  position: relative;
}
.toggleQuickLinks {
  content: "&#9660;";
  position: relative;
  color: #43bfe9;
  margin-left: 20px;
  bottom: -10px;
  margin-right: 25px;
  font-size: 25px;
  cursor: pointer;
}
.QuickLinks {
  width: 200px;
  position: absolute;
  left: -45px;
  text-align: left;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px #eee;
  font-size: 12px;
  border: 1px solid #eee;
  margin-top: 15px;
}
.QuickLinks a {
  display: block;
  padding: 8px 15px 6px;
}

.QuickLinks:after,
.QuickLinks:before {
  bottom: 100%;
  right: 35px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.QuickLinks:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 15px;
  margin-left: -15px;
}
.QuickLinks:before {
  border-color: rgba(0, 245, 65, 0);
  border-bottom-color: #aaa;
  border-width: 15px;
  margin-left: -15px;
}
