.row-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.app-header {
  background-color: transparent;
  padding: 20px;
  color: white;
  margin-left: 50px;
}

.app-title {
  font-size: 17px;
  color: #ACACAC;
  font-family: "Avenir Next";
}

.menu-home-style   {
  position: absolute;
  left: 44%;
  font-size: 17px;
  color: #ACACAC;
  font-family: "Avenir Next";
}

.header-logo {
  margin-top: 10px;
}

.app-intro {
  font-size: large;
}

.col-container-left {
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  background-color: white;
  height: 100%;
}

.col-inner-container-left {
  margin-top: 10%;
}

.col-container-right {
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left-column {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.label-style {
  color: #A5A5A5;
  font-weight: 600;
  font-family: 'Avenir Next'
}

.confirm-button-container {
  align-items: center;
  justify-content: center;
}

.termscondition-top-style {
  margin-top: 20%;
}

.termscondition-bottom-style {
  margin-bottom: 20%;
}

.cb-style {
  position: absolute;
  left: 12%;
  bottom: 24%;
}

.form-control {
  border: none;
  border-bottom: 1px solid #000;
  box-shadow: none;
  border-radius: 0;
  color: #5151A1;
  font-family: 'Avenir Next';
  font-weight: 500;
  font-size: 18px;
  padding-left: 0px
}

.form-control:focus {
  box-shadow: none;
  border-color: #5151A1
}

.background-image {
  height: 100%;
  width: 100%;
}
.logo {
  position: absolute;
  left: 30%;
  bottom: 25%;
}

.btn {
  border-radius: 20px;
  width: 100px;
  border-color: black;
  border-width: 2px;
  font-weight: 600;
}

.btn:hover {
  background-color: #5151A1;
  color: white;
  border-color: transparent;
}

.btn:focus {
  background-color: #5151A1;
  color: white;
  border-color: transparent;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
}

.label-title-style {
  position: absolute;
  left: 27%;
  bottom: 20%;
  color: white;
  font-family: 'Avenir Next';
}

.large-text {
  font-size: 60px;
}

.facebook-button {
  border-radius: 2px;
  width: 40%;
  font-weight: 100;
  font-size: 12px;
  border-width: 0px;
  background-color: #335BBC;
  color: white;
  margin-right: 15px;
}

.facebook-button:focus, .facebook-button:hover {
  background-color: #21469e !important;
  color: white !important;
}

.google-button {
  border-radius: 2px;
  width: 40%;
  font-weight: 100;
  font-size: 12px;
  border-width: 0px;
  background-color: #C93A2C;
  color: white;
}

.google-button:focus, .google-button:hover {
  background-color: #99271d !important;
  color: white !important;
}

.login-button-container {
  margin-top: 20px
}

.social-button-position {
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: 100%;
}

.logo-spacer {
  margin-right: 10px;
}

.credit-style {
  color: white;
  font-size: 13px;
  margin-right: 100px
}

.header-style {
  margin-top: 15%;
}
