.SubscribePopUp {
  background: #5a59a6;
  border-radius: 10px;
  height: 645px;
  width: 1095px;
  position: absolute;
  z-index: 9;
  color: #fff;
  font-weight: lighter;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: fadein 1s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.leftside {
  width: 450px;
  float: left;
  text-align: center;
  position: relative;
  left: 80px;
  top: 39px;
  letter-spacing: 1px;
}
.leftside h2 {
  margin-top: 10px;
  font-weight: lighter;
}
.leftside span {
  margin-top: 10px;
  letter-spacing: 1px;
}
.leftside img {
  margin-top: 30px;
}
.rightside {
  position: relative;
  top: 95px;
  width: 425px;
  right: 50px;
  float: right;
}
.leftside * {
  display: block;
  margin: auto;
}
.title {
}
span {
}

.rightside h3 {
  text-transform: uppercase;
}
.rightside h4 {
  margin-top: 60px;
  text-transform: uppercase;
}
.rightside ul {
  font-size: 18px;
  padding-left: 20px;
  margin-top: 40px;
  letter-spacing: 1px;
  line-height: 1.3;
}
.rightside ul li {
  margin-bottom: 10px;
  margin-top: 5px;
}
.rightside button {
  border: 1px solid #fff;
  width: auto;
  padding: 6px 18px;
  font-size: 17px;
  margin-right: 15px;
}
.btn-primary {
  background: #00d4e4;
  border-color: #00d4e4;
}

.subscribe-settings-modal .a-modal-content h5 {
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 35px;
  margin-bottom: 25px;
  line-height: auto;
  font-weight: 400;
}
.subscribe-settings-modal .have-header h5 {
  margin-top: 15px;
  margin-bottom: 35px;
}
.subscribe-settings-modal .a-modal-content .add-bank-choices {
  text-align: center;
}
.subscribe-settings-modal .a-modal-content .add-bank-choices span {
  display: block;
  margin-top: 20px;
}

.subscribe-settings-modal .a-modal-content .add-bank-choices p * {
  transition: all 0.1s linear;
}

.subscribe-settings-modal .a-modal-content .add-bank-choices p img {
  width: 130px;
}

.subscribe-settings-modal .a-modal-content .add-bank-choices p:hover {
  color: #43bfe9;
  cursor: pointer;
}

.subscribe-settings-modal .a-modal-content .add-bank-choices p:hover img {
  width: 140px;
}
